modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 20100
externalPort = 3001

[[ports]]
localPort = 25567
externalPort = 3000

[[ports]]
localPort = 25568
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GITHUB_REPO = "https://github.com/thursdaymx4/judith-monorepo.git"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_HQWNohcrFXMFoiyXlhnmBPwHdaZ"
EXPO_PUBLIC_REVENUECAT_API_KEY_IOS = "appl_SdnpOmzpLKAdVCYQzHuTJzJugSv"
EXPO_PUBLIC_REVENUECAT_API_KEY_ANDROID = "goog_ReWkzwnyoiowSteKwMpIzmZpobN"
REVENUECAT_PROJECT_ID = "proj2928d347"
REVENUECAT_TEST_STORE_APP_ID = "app635acffcee"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appd914edd639"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appca4c379d61"
